/* Estilos para las tarjetas dentro de la sección */
.section-cards {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    display: block;
    width: 200px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card h3 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #0056b3;
}

.card p {
    font-size: 1em;
    color: #666;
}

/* Para los botones */
button {
    font-size: 1.2em;
    color: #ffffff;
    background-color: #254f6e;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #ffc107;
    color: #0e2238;
}

#carta {
    background-color: #1a3a55;
    padding: 20px;
    border-radius: 8px;
    margin-top: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
}
#carta img {
    width: 200px;
    height: 300px;
    margin: 0 auto; /* Centra la imagen */
    object-fit: cover;
}
h2 {
    color: #ffc107;
}
p {
    font-size: 1.1em;
}
span {
    color: #ffc107;
}
